extends layout

block content
  div.container.mt-5
    div.row.justify-content-center
      div.col-md-6
        div.card
          div.card-header.bg-primary.text-white
            h4.mb-0 Login to Twitch Chatbot Dashboard
          div.card-body
            if message
              div.alert.alert-danger
                = message
            form(action="/login", method="post")
              div.mb-3
                label.form-label(for="username") Username
                input.form-control#username(type="text", name="username", required)
              div.mb-3
                label.form-label(for="password") Password
                input.form-control#password(type="password", name="password", required)
              div.d-grid.gap-2
                button.btn.btn-primary(type="submit") Login
          div.card-footer.text-muted
            p.mb-0.small Default login: admin / admin
