extends layout

block content
  - var title = 'Discord Commands'
  div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2 Discord Slash Commands
    div.btn-toolbar.mb-2.mb-md-0

  if commands.length === 0
    div.alert.alert-info
      p No Discord commands found. The default commands are built into the application.
  else
    div.table-responsive
      table.table.table-striped.table-hover
        thead
          tr
            th Command Name
            th Actions
        tbody
          each command in commands
            tr
              td= command.name
              td
                div.btn-group
                  a.btn.btn-sm.btn-outline-primary(href=`/discord-commands/edit/${command.name}`)
                    i.bi.bi-pencil.me-1
                    | Edit

  div.mt-4
    div.card
      div.card-header.bg-info.text-white
        h5.mb-0 Discord Slash Commands
      div.card-body
        p Discord slash commands are registered automatically when the bot starts. The following commands are available:
        ul
          li
            strong /stream
            |  - Check if the Twitch stream is currently live
          li
            strong /clips [count]
            |  - Get recent clips from the Twitch channel
          li
            strong /setup live [channel]
            |  - Set the channel for live stream notifications (admin only)
          li
            strong /setup clips [channel]
            |  - Set the channel for new clip notifications (admin only)
        
        p.mt-3 After making changes to Discord commands, you need to:
        ol
          li Stop the bot if it's running
          li Start the bot again to register the updated commands
          li It may take up to an hour for command changes to propagate to all Discord servers
